@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-zinc-950 text-white;
}
/* Custom styling for blue bullets */
.custom-bullet li::marker {
  color: rgb(96 165 250 )/* Tailwind blue-500 */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll */
}



